<md-card class="main-container mat-typography">
    <h1>Welcome to {{title}}</h1>

    <label>skill:</label>
    <input [(ngModel)]="myskill.name" placeholder="skill"/>

    <label>rate:</label>
    <input [(ngModel)]="myskill.rate" placeholder="rate"/>
    <button (click)="test()" md-raised-button color="primary">Hit me</button>
    <md-list>
        <md-list-item md-primary>{{myskill.name}} - {{myskill.rate}}</md-list-item>
        <md-list-item *ngFor="let skill of skills">{{skill.name}} - {{skill.rate}}</md-list-item>
    </md-list>
</md-card>